<table class="table table-striped table-bordered">
<thead>
  <tr class="info"><th colspan="4"><h3 class="list-title">Drivers Championship Standings</h3><br/>
  <input class="form-control" type="text" ng-model="nameFilter" placeholder="Search..."/>
  </th></tr>
</thead>
<tbody>
  <tr ng-repeat="driver in driversList | filter: searchFilter">
    <td>{{$index + 1}}</td>
    <td>
      <img src="images/flags/{{driver.Driver.nationality}}.png" />
      <a href="#/drivers/{{driver.Driver.driverId}}">
      {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
    </a>
  </td>
    <td>{{driver.Constructors[0].name}}</td>
    <td>{{driver.points}}</td>
  </tr>
</tbody>
</table>